html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.first{
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    margin: 0;
}

.second{
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 10vw;
}
.third{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}
.fourth{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}

.logo {
    width: 4.5vw;
    height: 4vw;
    margin-top: 20%;
    background-repeat: no-repeat;
    background: url(SVG/eye-logo.svg);
    background-size: 4.5vw 4vw;
}
.home {
    width: 3.3vw;
    height: 2.8vw;
    background: url(SVG/home.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.info {
    width: 3.3vw;
    height: 2.8vw;
    margin: 0;
    background: url(SVG/info.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.envelope {
    width: 3.3vw;
    height: 2.8vw;
    background: url(SVG/envelope.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.cart {
    width: 3.3vw;
    height: 2.8vw;
    background: url(SVG/shopping-cart.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.namelogo{
    margin-top: 16%;
    color: #EEEEEE;
    font-size: 2.4vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align:center;
}
.namehome{
    margin-top: 20%;
    color: #EEEEEE;
    font-size: 1.2vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align:center;
}
.nameinfo{
    margin-top: 20%;
    color: #EEEEEE;
    font-size: 1.2vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align:center;
}
.nameenvelope{
    margin-top: 16%;
    color: #EEEEEE;
    font-size: 1.2vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align:center;
}
.namebuy{
    margin-top: 40%;
    color: #EEEEEE;
    font-size: 1.2vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align: center;
}
.head-cont{
    display:grid;
    grid-template-columns: auto auto;
    width: 98%;
    margin-right: 2%;
}
.home-cont{
    display:grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.head-cont1{
    display: grid;
    width: 15%;
    margin-left: 3%;
    grid-gap:5px;
    grid-template-columns: auto auto;

}
.head-cont2{
    display: grid;
    margin-left: auto;
    margin-right: 3%;
    margin-top: 2%;
    width: auto;
    grid-gap:10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;

}
.header {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: auto;
    width: 100%;
    height: 35%;
    background: url(SVG/head.svg);
    background-repeat:no-repeat;
    
}

img{
    border-radius: 35px;
    float: right;
    margin-right: 12vw;
    margin-left: auto;
    width: 60%;
    height: auto;
}
.ideatext{
    font-size: 3.2vw;
    font-family: 'Lucida Grande';
    float: right;
    text-align: right;
    width:100%;
    color: #333333;
    margin-top: 5vw;
    margin-right: 20vw;
}
.whatis{
    font-size: 1.2vw;
    font-family: 'Lucida Grande';
    float: right;
    text-align: right;
    margin-right: 1vw;
    color:blueviolet;

    text-decoration: underline;
    width:100%;
}
.buynow{
    background-image: url(SVG/buynow.png);
    width: 24vw;
    height: 6vw;
    float:right;
    background-size: 24vw 6vw;
    background-repeat: no-repeat;

}

.cont-desc{
    display: block;
    margin-top: 0;
    padding: 0;
    margin-top: 0;
}

.titl{
    display: block;
    color: #333333;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    width:100%;
    font-size: 4.8vw;
    background-size: auto;
}

.descr{
    display: block;
    color: #333333;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    width: 80%;
    margin-left:10%;
    font-size: 2.4vw;

}
.vid{
    margin-top: 3vw;
    display:grid;
    color: #333333;
    grid-template-columns: auto auto;
    float: center;
    width: 23%;
    margin-left:38.5%;
}
.vidicon{
    width: 1.5vw;
    height: 1.5vw;
    background: url(SVG/play.svg);
    margin-top:0;
    background-size: auto;
    background-repeat: no-repeat;
}
.vidtext{
    color: #333333;
    margin-top: 0;
    font-family: 'Lucida Grande';
    font-size: 1.2vw;
    text-decoration: underline;
}
.pricenotice{
    color: #333333;
    margin-top: 3vw;
    width:100%;
    text-align:center;
    font-family: 'Lucida Grande';
    font-size: 1vw;
}