html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.first{
    background-image: url(SVG/machine_mob.jpg);
    background-size:cover;  
    width: 100%;
    height: 100%;
    margin: 0;
}

.second{
    background-color: #F6F6F6;
    width: 100%;
    height: 80%;
    margin: 0;
    padding-top:30vw;
}
.third{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}
.fourth{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
}

.logo {
    width: 9vw;
    height: 8vw;
    margin-top: 20%;
    background-repeat: no-repeat;
    background: url(SVG/eye-logo.svg);
    background-size: 9vw 8vw;
}
.namelogo{
    margin-top: 13%;
    color: #EEEEEE;
    font-size: 4.8vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align:center;
}


.header {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: auto;
    width: 100%;
    height: 35%;
    background: url(SVG/head_mob.svg);
    background-repeat:no-repeat;
    
}

.home {
    width: 6.6vw;
    height: 5.6vw;
    background: url(SVG/home.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.info {
    width: 6.6vw;
    height: 5.6vw;
    margin: 0;
    background: url(SVG/info.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.envelope {
    width: 6.6vw;
    height: 5.6vw;
    background: url(SVG/envelope.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.cart {
    width: 6.6vw;
    height: 5.6vw;
    background: url(SVG/shopping-cart.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
    .namehome{
        display: none;
        
    }
    .nameinfo{
        display: none;
        
    }
    .nameenvelope{
        display: none;
        
    }
    .namebuy{
        display: none;
        
    }
    .head-cont{
        display:grid;
        grid-template-columns: auto auto;
        width: 98%;
        margin-right: 2%;
    }
    .home-cont{
        display:grid;
        grid-template-columns: auto;
    }
    .head-cont1{
        display: grid;
        width: 15%;
        margin-left: 3%;
        grid-gap:5px;
        grid-template-columns: auto auto;
    
    }
    .head-cont2{
        display: grid;
        margin-left: auto;
        margin-right: 5%;
        margin-top: 5%;
        width: auto;
        grid-gap:10px;
        grid-template-columns: auto auto auto auto;
        
    }
    img{
        display: none;
        
    }

.ideatext{
    font-size: 6.4vw;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    width:100%;
    color: #EEEEEE;
    margin-top: 30%;
    
}
.whatis{
    font-size: 2.4vw;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    color:#EEEEEE;

    text-decoration: underline;
    width:100%;
}
.buynow{
    border: none;
    background: transparent;
    background-image: url(SVG/buynow.png);
    width: 48vw;
    height: 12vw;
    float:center;
    margin-left: 25%;
    background-size: 48vw 12vw;
    background-repeat: no-repeat;

}
.buynow:active{
    background-image: url(SVG/buynowhover.png);
}

.cont-desc{
    padding-top: 3vw;
    display: block;
    margin-top: 0;
}

.titl{
    padding-top: 3vw;
    display: block;
    color: #333333;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    width:100%;
    font-size: 6.4vw;
    background-size: auto;
}
.descr{
    padding-top: 3vw;
    display: block;
    color: #333333;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    width: 90%;
    margin-left:5%;
    font-size: 3.6vw;

}
.vid{
    padding-top: 10vw;
    display:grid;
    color: #333333;
    grid-template-columns: auto auto;
    float: center;
    width: 50%;
    margin-left:25%;
}
.vidicon{
    width: 3vw;
    height: 3vw;
    background: url(SVG/play.svg);
    margin-top:0.4vw;
    background-size: auto;
    background-repeat: no-repeat;
}
.vidtext{
    color: #333333;
    margin-top: 0;
    font-family: 'Lucida Grande';
    font-size: 2.8vw;
    text-decoration: underline;
}
.pricenotice{
    
    color: #333333;
    padding-top: 18vw;
    width:100%;
    text-align:center;
    font-family: 'Lucida Grande';
    font-size: 2.8vw;
}

.features{
    display: block;
    grid-gap: 2vw;
    width: 100%;
    height: 70%;
    background-image: url(SVG/proc.jpg);
    background-size: cover;
}
.features-list{
    display: grid;
    padding-top: 22%;
    margin-left: 5%;
    grid-template-columns: auto auto;
    width: 90%;
    height: 60%;
}
.alg{
    width: 14.2vw;
    height: 12.2vw;
    margin-left: 0.5vw;
    background: url(SVG/alg.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.speed{
    width: 13.2vw;
    height: 11.2vw;
    margin: 0;
    background: url(SVG/speed.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.ahead{
    width: 13.2vw;
    height: 11.2vw;
    margin: 0;
    background: url(SVG/ahead.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
.featuretext{
    margin-left: 1vw;
    color:#EEEEEE;
    width:50%;
    font-size: 4.5vw;
    font-family: 'Lucida Grande';
    width: auto;
}
.comparison{
    padding-top: 7vw;
    width: 98%;
    height: 30%;
    margin-left:2%;
}
.graphs{
    padding-top: 5vw;
    width:100%;
    height:20%;
    margin-left:0;

}
.percent{
    margin-top: 2%;
    font-size: 7vw;
    font-family: 'Lucida Grande';
    color: #752eb6;

}
.wyk2{
    background-image: url(SVG/poor.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 25vw;
    height: 3.5vw;
    margin-top: 5vw;
    margin-left: 0;
    float: left;

}
.wyk1{
    background-image: url(SVG/compare.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width:90vw;
    height: 14vw;
    margin-left:0;
    float: left;

}
.wyk-desc{
    color: #333333;
    font-size: 3vw;
    font-family: 'Lucida Grande';
    margin-left: 0.5vw;
}

.offers{
    padding-top: 2%;
    width:80%;
    height:80%;
    margin-left: 10%;
}
.badoff{
    background-image: url(SVG/ziemniak.jpg);
    margin-left: 24%;
    background-size: 40vw 30vw;
    background-repeat: no-repeat;
    width: 40vw;
    height: 30vw;
}

.goodoff{
    margin-top:2vw;
    background-image: url(SVG/comp.png);
    margin-left: 27%;
    background-size: 35vw 30vw;
    background-repeat: no-repeat;
    width: 35vw;
    height: 30vw;
}

.offdes{
    padding-top: 3vw;
    font-family: 'Lucida Grande';
    font-size:4vw;
    text-align: center;
    width:100%;
    height:fit-content;
}
.buynowsmall{
    padding-top: 4vw;
    background-image: url(SVG/buynow.png);
    width: 30vw;
    height: 7.5vw;
    float:center;
    margin-left: 31%;
    background-size: 30vw 7.5vw;
    background-repeat: no-repeat;

}

.footer{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
    margin-bottom:0;
    align-content: center;
    background-repeat: no-repeat;
    background-image: url(SVG/footer.svg);
    background-size: cover;

}
.footer-text-left{
    font-size: 2vw;
    color: #eeeeee;
    font-family: 'Lucida Grande';
    margin-left: 3%;
    float: left;
}
.footer-text-right{
    font-size: 2vw;
    color: #eeeeee;
    font-family: 'Lucida Grande';
    margin-right: 3%;
    float: right;
    text-align: right;
}
.graphs-desktop{
    display: none;
}
.off{
    width: 100%;
    
}
