html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.first{
    background-image: url(SVG/machine_mob.jpg);
    background-size:cover;  
    width: 100%;
    height: 100%;
    margin: 0;
}

.second{
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    margin: 0;
}
.third{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}
.fourth{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}
.logo {
    width: 9vw;
    height: 8vw;
    margin-top: 20%;
    background-repeat: no-repeat;
    background: url(SVG/eye-logo.svg);
    background-size: 9vw 8vw;
}
.namelogo{
    margin-top: 16%;
    color: #EEEEEE;
    font-size: 4.8vw;
    width: fit-content;
    font-family: 'Lucida Grande';
    text-align:center;
}


.head-cont1{
    display: grid;
    width: 15%;
    margin-left: 3%;
    grid-gap:5px;
    grid-template-columns: auto auto;

}

.header {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: auto;
    width: 100%;
    height: 35%;
    background: url(SVG/head_mob.svg);
    background-repeat:no-repeat;
    
}

    .home {
        display: none;
        
    }
    .info {
        display: none;
        
    }
    .envelope {
        display: none;
        
    }
    .cart {
        display: none;
        
    }
    .namehome{
        display: none;
        
    }
    .nameinfo{
        display: none;
        
    }
    .nameenvelope{
        display: none;
        
    }
    .namebuy{
        display: none;
        
    }

    .head-cont2{
        display: none;
        
    }
    img{
        display: none;
        
    }

.ideatext{
    font-size: 6.4vw;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    width:100%;
    color: #EEEEEE;
    margin-top: 30%;
    
}
.whatis{
    font-size: 2.4vw;
    font-family: 'Lucida Grande';
    float: center;
    text-align: center;
    color:blueviolet;

    text-decoration: underline;
    width:100%;
}
.buynow{
    background-image: url(SVG/buynow.png);
    width: 48vw;
    height: 12vw;
    float:center;
    margin-left: 25%;
    background-size: 48vw 12vw;
    background-repeat: no-repeat;

}